<ng-template #content let-modal>
  <div class="modal-header">
    <h5 class="modal-title text-primary" id="modal-basic-title">Tuyển dụng</h5>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">

    <div>
      <label class="text-primary">Tên doanh nghiệp</label>
      <div class="btn-group mr-3 container-fluid p-0">
        <input id="typeahead-basic" type="text" class="form-control form-control-sm" [(ngModel)]="tempRecruitment.company"
          [ngbTypeahead]="searchCompany" />
        <div class="btn-group" ngbDropdown role="group" aria-label="Button group with nested dropdown" [placement]="'bottom-right'">
          <button class="btn btn-sm btn-outline-primary caret" ngbDropdownToggle></button>
          <div class="dropdown-menu" ngbDropdownMenu>
            <button class="dropdown-item" *ngFor="let s of companies" (click)="choiceCompany(s)">{{s}}</button>
          </div>
        </div>
      </div>
    </div>
    <div>
      <label class="text-primary">Lĩnh vực</label>
      <div class="btn-group mr-3 container-fluid p-0">
        <input id="typeahead-basic" type="text" class="form-control form-control-sm" [(ngModel)]="tempRecruitment.field"
          [ngbTypeahead]="searchField" />
        <div class="btn-group" ngbDropdown role="group" aria-label="Button group with nested dropdown" [placement]="'bottom-right'">
          <button class="btn btn-sm btn-outline-primary caret" ngbDropdownToggle></button>
          <div class="dropdown-menu" ngbDropdownMenu>
            <button class="dropdown-item" *ngFor="let s of fields" (click)="choiceField(s)">{{s}}</button>
          </div>
        </div>
      </div>
    </div>
    <div>
      <label class="text-primary">Vị trí</label>
      <div class="btn-group mr-3 container-fluid p-0">
        <input id="typeahead-basic" type="text" class="form-control form-control-sm" [(ngModel)]="tempRecruitment.vacancy"
          [ngbTypeahead]="searchVacancy" />
        <div class="btn-group" ngbDropdown role="group" aria-label="Button group with nested dropdown" [placement]="'bottom-right'">
          <button class="btn btn-sm btn-outline-primary caret" ngbDropdownToggle></button>
          <div class="dropdown-menu" ngbDropdownMenu>
            <button class="dropdown-item" *ngFor="let s of vacancies" (click)="choiceVacancy(s)">{{s}}</button>
          </div>
        </div>
      </div>
    </div>
    <div>
      <label class="text-primary">Kỹ năng yêu cầu</label>
      <input type="text" minlength="1" class="form-control form-control-sm" [(ngModel)]="tempRecruitment.skill">
    </div>
    <div>
      <label class="text-primary">Số lượng</label>
      <input type="number" min="1" class="form-control form-control-sm" [(ngModel)]="tempRecruitment.quanity">
    </div>
    <div>
      <label class="text-primary">Người tuyển dụng</label>
      <input type="text" minlength="1" class="form-control form-control-sm" [(ngModel)]="tempRecruitment.recruiter">
    </div>
    <div>
      <label class="text-primary">Điện thoại liên hệ</label>
      <input type="text" minlength="1" class="form-control form-control-sm" [(ngModel)]="tempRecruitment.phone">
    </div>
    <div>
      <label class="text-primary">Email liên hệ</label>
      <input type="text" minlength="1" class="form-control form-control-sm" [(ngModel)]="tempRecruitment.mail">
    </div>
    <div class="container mt-1" style="width: 250px;">
      <div class="input-group mb-3 input-group-sm float-right">
        <input type="file" class="custom-file-input" accept=".doc,.docx,.pdf,.jpg,.png" (change)="fileChange($event)">
        <label class="custom-file-label" for="customFile">{{filePath ? filePath : 'Chọn tệp'}}</label>
      </div>
    </div>
    <label class="text-danger" *ngIf="fileUploadMsg">{{fileUploadMsg}}</label>

    <ng-container *ngIf="tempRecruitment.id;then editButton;else newButton"></ng-container>
    <ng-template #editButton>
      <button type="button" class="btn btn-primary float-right mt-2" (click)="post('edit')">Chỉnh sửa</button>
    </ng-template>
    <ng-template #newButton>
      <button type="button" class="btn btn-primary float-right mt-2" (click)="post('new')">Tạo mới</button>
    </ng-template>
  </div>
  <div class="modal-footer">
    <h5 class="{{stateColor}}">{{stateText}}</h5>
  </div>
</ng-template>
<button class="{{btnClass}}" (click)="open(content)">
  <ng-content></ng-content>
</button>